@page "/"

<h1>API курсов валют</h1>

На данном сайте вы сможете найти ссылки на API получения курсов валют национальных банков нескольких стран.<br>
Какие-то банки позволяют получить курсы на явно указанную дату, какие-то только на текущую.<br>
Формат возвращаемых данных тоже различный - json, xml, xlsx.<br>

<SurveyPrompt Title="How is Blazor working for you?" />
